h1,
h2 {
    font-family: 'Imperial Script', cursive;
}

h3,
h4 {
    font-family: 'Raleway', sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.background_standard {
    background-color: #736635;
}

.padding_top {
    margin-top: 15px;
}

#contact_link {
    color: #ffffff;
}

#hero {
    background-image: url('../images/IMG_2627.jpeg');
    background-position: center;
    background-size: cover;
}

#logo_footer {
    max-height: 70px;
    object-fit: contain;
}

@media screen and (max-width: 599px) {
    #logo_footer {
        max-height: 70px;
    }
}

@media screen and (min-width: 600px) {
    #logo_footer {
        max-height: 80px;
    }
}

@media (min-width: 900px) {
    #logo_footer {
        max-height: 110px;
    }
}